


      <div>
      <p-panel header="Charger les images du bien" [toggleable]="true" class="col">
        <div class="mb-3">
          <label for="formFile" class="form-label fw-bolder">Selectionner les fichiers au format image</label>
          <input class="form-control" type="file" accept="image/png, image/jpeg, image/jpg" multiple id="formFile" (change)="onFileSelected($event)">
        </div>

       <!--Preview-->
        <div class="preview-container">
          <div class="preview-card" *ngFor="let image of imagePreviews;let i = index">
            <img  [src]="image" alt="">
            <button class="delete-btn" (click)="removeImage(i)">×</button>
          </div>
        </div>

      </p-panel>
      </div>


      <div class="d-flex py-4 gap-5">
        <button type="submit" class="btn btn-primary mx-2" (click)="onBack()">Retour</button>
        <button type="submit" class="btn btn-primary mx-2" (click)="onNext()">Suivant</button>
      </div>
