
<div class="d-flex justify-content-center custom-margin">

  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="newPassword">Nouveau mot de passe:</label>
      <input type="password" id="newPassword" formControlName="newPassword">
    </div>

    <div>
      <button type="submit" class="btn btn-primary" >Envoyer</button>
    </div>

  </form>
</div>

<div class="d-flex ">
  <div class="mx-3"><a class="link text-decoration-none" href="/login">Se connecter</a></div>
  <div class="mx-3"><a class="link text-decoration-none" href="/signup">Ouvrir un compte</a></div>
</div>
