


<div class="container">
  <div class="row">
    <app-loading *ngIf="this.passwordHandler.isLoading"></app-loading>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center text-uppercase mb-5 fw-bold fs-5">Mot de passe oublié</h5>
          <form  [formGroup]="myForm" (ngSubmit)="onSubmit()">

            <div class=" mb-3">
              <input type="password" class="form-control " id="newPassword1" formControlName="newPassword1" placeholder="*************************">
              <label for="newPassword1" class="fw-bold">Nouveau mot de passe </label>
            </div>

            <div class=" mb-3">
              <input type="password" class="form-control " id="newPassword2" formControlName="newPassword2" placeholder="*************************">
              <label for="newPassword2" class="fw-bold">Ressaisissez à Nouveau  </label>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" [disabled]="myForm.invalid || this.passwordHandler.isLoading">Envoyer</button>
            </div>
            <hr class="my-4">
            <div class="d-grid mb-2 text-center">
              <a class="link text-decoration-none fw-bold" href="/login">Se connecter</a>
            </div>
            <div class="d-grid text-center">
              <a class="link text-decoration-none fw-bold" href="/signup">Ouvrir un compte</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


