<div class="container-fluid">
  <div class="card border-0 ">
    <div class="card-body">
      <form [formGroup]="form" class="" (ngSubmit)="onNext()">
        <div formGroupName="characteristics">

          <div class="row py-2">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="form-group ">
                <div class="fw-bolder"><label>Type de bien *</label></div>
                <p-dropdown
                  formControlName="type"
                  [options]="propertyType"
                  optionLabel="name"
                  styleClass="w-50"/>
                <div *ngIf="form.get('characteristics.type')?.invalid && form.get('characteristics.type')?.touched"
                     class="text-danger msg-error">
                  Sélectionnez le type de bien
                </div>
              </div>
            </div>
          </div>

          <div class="row py-2 g-2">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Adresse de votre bien *</label></div>
                <input
                  type="text"
                  formControlName="address"
                  placeholder="N°, nom de rue"
                  required
                  pInputText pKeyFilter="alphanum"
                  class="wide-input"
                />
                <!--<div *ngIf="form.controls['address'].invalid && form.controls['address'].touched"
                     class="text-danger msg-error">
                  Entrer une adresse
                </div>-->
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Entrer la ville *</label></div>
                <p-autoComplete
                  id="city"
                  formControlName="city"
                  placeholder="Entrer la ville ou le code postal"
                  [suggestions]="filteredCities"
                  (completeMethod)="filterCity($event)"
                  field="nameAndPostCode"
                  [forceSelection]="true"
                  pKeyFilter="alpha"
                  class="custom-autocomplete"
                />
                <!--<div *ngIf="form.controls['city'].invalid && form.controls['city'].touched"
                     class="text-danger msg-error">
                  Sélectionnez une ville valide
                </div>-->
              </div>
            </div>
          </div>


          <div class="d-flex gap-4">
            <div class="form-group ">
              <div class="fw-bolder"><label>Surface habitable *</label></div>
              <p-inputNumber
                [showButtons]="true"
                [min]="0"
                inputId="stacked"
                mode="decimal"
                suffix=" m²"
                class="input-normal"
                formControlName="area"
                inputStyleClass="p-inputtext-sm p-px-2 p-py-2"
              >
              </p-inputNumber>
              <!--<div *ngIf="form.controls['area'].invalid && form.controls['area'].touched" class="text-danger msg-error">
                La surface doit etre supérieur à 0
              </div>-->
            </div>

            <div class="form-group ">
              <div class="fw-bolder"><label>Nombre de pieces *</label></div>
              <p-inputNumber
                [showButtons]="true"
                [min]="1"
                inputId="stacked"
                mode="decimal"
                class="input-normal"
                formControlName="peaces"
                inputStyleClass="p-inputtext-sm"
              >
              </p-inputNumber>
              <!--<div *ngIf="form.controls['peaces'].invalid && form.controls['peaces'].touched"
                   class="text-danger msg-error">
                Le nombre de pièces doit etre supérieur à 0
              </div>-->
            </div>
          </div>

          <div class="d-flex py-4 gap-4">
            <div class="form-group">
              <div class="fw-bolder"><label>Nombre de chambres *</label></div>
              <p-inputNumber
                [showButtons]="true"
                [min]="0"
                inputId="stacked"
                mode="decimal"
                class="input-normal"
                formControlName="rooms"
                inputStyleClass="p-inputtext-sm"
              />
            </div>

            <div class="form-group ">
              <div class="fw-bolder"><label>Nombre de salle d'eau *</label></div>
              <p-inputNumber
                [showButtons]="true"
                [min]="1"
                inputId="stacked"
                mode="decimal"
                class="input-normal"
                formControlName="bathrooms"
                inputStyleClass="p-inputtext-sm"
              />
            </div>

          </div>

          <div class="row py-2 ">
            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group ">
                <div class="fw-bolder"><label>Bien meublé ? *</label></div>
                <p-inputSwitch
                  formControlName="isFurnished"
                ></p-inputSwitch>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Wifi *</label></div>
                <p-inputSwitch
                  formControlName="wifi"
                ></p-inputSwitch>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Climatisation</label></div>
                <p-inputSwitch
                  formControlName="airConditioning"
                ></p-inputSwitch>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Garage</label></div>
                <p-inputSwitch
                  formControlName="garage"
                ></p-inputSwitch>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Cuisine équipée</label></div>
                <p-inputSwitch
                  formControlName="equippedKitchen"
                ></p-inputSwitch>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-12">
              <div class="form-group">
                <div class="fw-bolder"><label>Espaces extérieurs </label></div>
                <p-inputSwitch
                  formControlName="outdoorSpaces"
                ></p-inputSwitch>
              </div>
            </div>
          </div>

          <div class="row py-2 gap-5">
            <div class="col-lg-3 col-md-3 col-12">
              <div class="form-group ">
                <div class="fw-bolder"><label>Tarif journalier</label></div>
                <p-inputNumber formControlName="rent" [showButtons]="true" buttonLayout="horizontal"
                               inputId="horizontal"
                               spinnerMode="horizontal" [step]="1" decrementButtonClass="p-button-danger"
                               incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                               decrementButtonIcon="pi pi-minus"
                               mode="currency" currency="EUR"
                               class="custom-input-number"/>
              </div>
            </div>
          </div>


          <div class=" row py-3 ">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="fw-bolder"><label>Texte de l'annonce </label></div>
              <textarea
                id="float-input"
                rows="5"
                cols="70"
                pInputTextarea
                formControlName="description"
                pInputText pKeyFilter="alphanum"
              >
      </textarea>
              <!--<div *ngIf="form.controls['description'].invalid && form.controls['description'].touched"
                   class="text-danger msg-error">
                La description doit etre supèrieur à 10 caractères
              </div>-->
            </div>
          </div>

          <div class="row py-3 ">
            <div class="col-lg-4 col-md-4 col-12">
              <button type="submit" class="btn btn-primary mx-2 fw-bolder ">Suivant</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

