.card{
  height: 100%; /*Assure que toutes les cartes ont la même taille*/
  display: flex;
  flex-direction: column;
}
.card-img-top{
  height: 150px; /*Hauteur fixe pour les images*/
  object-fit: cover; /*Evite la déformation des images*/
}
.card-body{
  flex-grow: 1; /*Permet au contenu des s'etirer pour remplir la carte*/
  display: flex;
  flex-direction: column;
}
.card-text{
  flex-grow: 1; /*Equilibre l'espace entre le texte et le bouton*/
  overflow: hidden;/* Evite que le texte depasse */
  text-overflow: ellipsis; /* Ajoute des ... si le texte est trop long */
  white-space: nowrap; /* Empeche les retours à la ligne */
}
/*p-calendar*/
.card{
  background-color: white;
  padding: 10px;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);/*0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  width: 100%;
  text-align: left;
}
/*Multi select style*/
::ng-deep .custom-size-multiselect {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
}
::ng-deep .custom-size-multiselect .p-multiselect {
  height: 37px;
  padding: 0 !important;
  display: flex;
  align-items: center;
}
::ng-deep .custom-size-multiselect .p-multiselect-label-container {
  height: 38px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
::ng-deep .custom-size-multiselect .p-multiselect-token {
  margin: 0 4px 0 0;
  padding: 2px 6px;
  font-size: 12px;
  height: auto;
  max-height: 26px;
}
::ng-deep .custom-size-multiselect .p-placeholder {
  line-height: 38px;
  white-space: nowrap;
  overflow: auto;
}
/* p-input number style*/
::ng-deep .standard-input-size .p-inputnumber {
  height: 38px;
  width: 100%;
  max-width: 200px;
}
::ng-deep .standard-input-size .p-inputtext {
  height: 38px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 0.5rem;
  width: 100%;
  max-width: 200px;
}
::ng-deep .standard-input-size .p-inputnumber-button-group {
  height: 38px;
}
