
<div class="d-flex">
  <div>
    <app-aside-menu></app-aside-menu>
  </div>

  <div id="content">
    <app-navbar></app-navbar>
    <div class="row mb-1">
      <div class="">
        <div class="card rounded-0 border-0">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Formulaire de recherche </h5>
          </div>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
            <div class="d-flex gap-4">
              <div class="form-group">
                <div>
                  <label for="type"  class="form-label">Type de bien</label>
                </div>
                <p-multiSelect
                  id="type"
                  [options]="typeOfProperty"
                  [(ngModel)]= propertyService.searchPropertyDto.type
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Selectionner le service"
                  optionLabel="name"
                  display="chip"
                  styleClass="custom-size-multiselect"/>
              </div>
              <div class="form-group">
                <div>
                  <label   class="form-label">Département</label>
                </div>
                <p-autoComplete
                  id="department"
                  [(ngModel)]=propertyService.searchPropertyDto.department
                  [suggestions]=locationService.filteredDepartment
                  (completeMethod)=locationService.searchDepartment($event)
                  field="nameAndCode"
                  [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group">
                <div>
                  <label for="city"  class="form-label">Ville</label>
                </div>
                <p-autoComplete
                  id="city"
                  [(ngModel)]=propertyService.searchPropertyDto.city
                  [suggestions]=locationService.filteredCity
                  (completeMethod)=locationService.searchCity($event)
                  field="nameAndPostCode"
                  [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>

            <div class=" d-flex gap-4 my-2">
              <div class="form-group">
                <div>
                  <label for="areaMin"  class="form-label">Surface Min.</label>
                </div>
                <p-inputNumber
                  id="areaMin"
                  [(ngModel)]= propertyService.searchPropertyDto.areaMin
                  [ngModelOptions]="{standalone: true}"
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttons"
                  [min]="0"
                  [max]="1000"
                  suffix=" m²"
                  styleClass="standard-input-size"
                  />
              </div>
              <div class="form-group">
                <div>
                  <label for="areaMax"  class="form-label">Surface Max.</label>
                </div>
                <p-inputNumber
                  id="areaMax"
                  [(ngModel)]= propertyService.searchPropertyDto.areaMax
                  [ngModelOptions]="{standalone: true}"
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttons"
                  [min]="0"
                  [max]="1000"
                  suffix=" m²"
                  styleClass="standard-input-size"
                />
              </div>
              <div class="form-group">
                <div>
                  <label for="arrival" class="form-label">Date d'arrivée</label>
                </div>
                <p-calendar
                  class="p-calendar"
                  [(ngModel)]= propertyService.searchPropertyDto.arrival
                  [ngModelOptions]="{standalone: true}"
                  id="arrival"
                  dateFormat="dd.mm.yy"
                  [showIcon]="true"
                />
              </div>
              <div class="form-group ">
                <div>
                  <label for="departure"  class="form-label">Date de départ</label>
                </div>
                <p-calendar
                  class="p-calendar"
                  [(ngModel)]= propertyService.searchPropertyDto.departure
                  [ngModelOptions]="{standalone: true}"
                  id="departure"
                  dateFormat="dd.mm.yy"
                  [showIcon]="true"
                />
              </div>
            </div>
            <div class="d-flex my-4 gap-4">
              <div class="form-group">
              <div>
                <label for="budgetMin"  class="form-label">Budget Min.</label>
              </div>
              <p-inputNumber
                id="budgetMin"
                [(ngModel)]= propertyService.searchPropertyDto.budgetMin
                [ngModelOptions]="{standalone: true}"
                mode="decimal"
                [showButtons]="true"
                inputId="minmax-buttons"
                [min]="0"
                [max]="1000"
                suffix=" €"
                styleClass="standard-input-size"
              />
            </div>

            <div class="form-group">
              <div>
                <label for="budgetMax"  class="form-label">Budget Max.</label>
              </div>
              <p-inputNumber
                id="budgetMax"
                [(ngModel)]= propertyService.searchPropertyDto.budgetMax
                [ngModelOptions]="{standalone: true}"
                mode="decimal"
                [showButtons]="true"
                inputId="minmax-buttons"
                [min]="0"
                [max]="1000"
                suffix=" €"
                styleClass="standard-input-size"
              />
            </div>
            </div>

            <div class="form-group">
              <div class=" action-buttons form-group mt-2">
                <button class="btn btn-primary " type="submit" >Rechercher</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-start mt-3">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3" [routerLink]="">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Estate </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
             <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estate </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
              <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estate </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
              <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
              <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estate </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
              <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
          <div class="card">
            <img src="https://picsum.photos/300/150?random=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estate </h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin.</p>
              <!-- <a class="btn btn-primary">En savoir plus</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
