

<app-loading *ngIf="authService.isLoading"></app-loading>
<div *ngIf="!authService.isLoading" class="d-flex">
  <div>
    <app-aside-menu></app-aside-menu>
  </div>


  <div id="content">
    <app-navbar></app-navbar>
    <div class="row d-flex justify-content-start mt-3">
    <div class="row d-flex justify-content-start mt-3">
      <div class="row mb-1">
        <div class="">
          <div class="card rounded-0">
            <div class="card-body">
              <div class="d-flex ">

                <div class="creation-step mx-5">
                  <h4>Etapes de création</h4>
                  <ul id="progbar">
                    <li>Type de bien</li>
                    <li>Adresse</li>
                    <li>Caractéristiques</li>
                    <li>Photos et description</li>
                    <li>Documents</li>
                    <li>Prix de location</li>
                    <li>Contact</li>
                  </ul>
                </div>

                <div class="multistep-forms mx-5 ">
                  <!--Real estate type-->
                  <div *ngIf="this.currentStep===0">
                    <div class="card_add_ads rounded-0 border-0">
                      <div class="card-header-pills fs-5 py-5 ">Quel bien voulez-vous louer ?</div>
                      <form [formGroup]="steps[0]" class=" py-2 ">
                        <div class="row">
                          <div class="form-group"><!--form-group col-12 col-sm-6 col-md-4 col-lg-2 my-2-->
                            <label>Type de bien *</label>
                            <select  id="type" class="form-select fs-6" formControlName="type" required>
                              <option value="Apart">Appartement</option>
                              <option value="Home">Maison</option>
                              <option value="Studio">Studio</option>
                            </select>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!--Real estate address-->

                  <div *ngIf="this.currentStep===1" >
                    <div class="">
                      <div class="card_add_ads rounded-0 border-0">
                        <div class="card-header-pills fs-5 py-5 ">Où se trouve votre bien ?</div>
                        <form [formGroup]="steps[1]" class=" py-3 ">
                          <div class="row">
                            <div class="form-group" > <!--form-group col-12 col-sm-6 col-md-4 col-lg-2 my-2-->
                              <label>Adresse *</label>
                              <input type="text"  class="form-control fs-6" formControlName="address" placeholder="N°, nom de rue" required />
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <!--Real estate features-->

                  <div *ngIf="this.currentStep===2" >
                    <div class="">
                      <div class=" rounded-0 border-0">
                        <div class="card-header-pills fs-5 py-4">Précisez les informations principales de votre appartement</div>
                        <form [formGroup]="steps[2]" class="  ">
                          <div class="row">

                            <div class="form-group col-sm-4"> <!--form-group col-12 col-sm-6 col-md-4 col-lg-2 -->
                              <label>Surface habitable *</label>
                              <input type="text"  class="form-control fs-6" formControlName="area" placeholder="m2" required/>
                            </div>
                          </div>

                          <div class="row py-4">
                            <div class="form-group col-sm-4"> <!--form-group col-12 col-sm-6 col-md-4 col-lg-2 -->
                              <label>Nombre de chambre</label>
                              <p-inputNumber [inputStyle]="{width:'4rem'}" [style]="{height:'2rem'}"  formControlName="nbOfPieces" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                             [min]="0" [max]="50" [step]="1" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"/>
                            </div>
                          </div>


                          <div class="row">
                            <div class="form-group col-sm-4 col-lg-5"> <!--form-group col-12 col-sm-6 col-md-4 col-lg-2-->
                              <label>Nombre de salles de bain </label>
                              <p-inputNumber [inputStyle]="{width:'4rem'}" [style]="{height:'2rem'}"  formControlName="nbOfBathroom" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                             [min]="0" [max]="50"     [step]="1" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"/>

                            </div>
                          </div>

                          <div class="row py-4">
                            <div class="form-group col-sm-5"> <!--form-group col-12 col-sm-6 col-md-4 col-lg-2-->
                              <label>Nombre de salles d'eau </label>
                              <p-inputNumber [inputStyle]="{width:'4rem'}" [style]="{height:'2rem'}"  formControlName="nbOfWaterroom"  [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal"
                                             [min]="0" [max]="50"     [step]="1" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"/>
                            </div>
                          </div>

                          <div class="row py-2">
                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Votre bien est-il meublé ? * </label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>

                            </div>
                          </div>

                          <div class="row py-2 d-flex">
                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Wi-fi </label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>
                            </div>

                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Climatisation</label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>
                            </div>

                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Parking / Garage</label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>
                            </div>
                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Cuisine équipée</label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>
                            </div>
                          </div>

                          <div class="row py-2">
                            <div class="form-group col-sm-5">  <!--col-12 col-md-4 col-lg-2 my-2-->
                              <label>Espaces extérieurs </label>
                              <div class="row">
                                <p-inputSwitch  formControlName="isFurnished" />
                              </div>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>

                  <!--Real estate pictures-->
                  <div *ngIf="this.currentStep===3" >
                    <div class="">
                      <div class="card_add_ads rounded-0 border-0">
                        <div class="card-header-pills fs-5 py-4">Ajouter des photos et la description</div>
                        <form [formGroup]="steps[3]" class="">


                        </form>
                      </div>
                    </div>
                  </div>

                  <!--Document-->

                  <div *ngIf="this.currentStep===4" >
                    <div class="">
                      <div class="card_add_ads rounded-0 border-0">
                        <div class="card-header-pills fs-5 py-4">Documents administratifs</div>
                        <form [formGroup]="steps[4]" class="">


                        </form>
                      </div>
                    </div>
                  </div>


                  <!--Prix-->

                  <div *ngIf="this.currentStep===5" >
                    <div class="">
                      <div class="card_add_ads rounded-0 border-0">
                        <div class="card-header-pills fs-5 py-4">Prix</div>
                        <form [formGroup]="steps[5]" class="">

                        </form>
                      </div>
                    </div>
                  </div>



                  <div class="d-flex py-5">  <!--form-group col-10 col-sm-4 col-md-2 col-lg-2 -->
                    <button type="submit" class="btn btn-primary" *ngIf="currentStep > 0" (click)="previousStep()">Retour</button>
                    <button type="submit" class="btn btn-primary mx-2"  *ngIf="currentStep < steps.length-1" [ngClass]="{'mx-2':'mx-0'}" (click)="nextStep()" >Suivant</button><!--'mx-2':hasMargin-->
                    <button type="submit" class="btn btn-primary mx-2" *ngIf="currentStep === steps.length-1" (click)="submitMultiStepForm()" >Soumettre</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


