
<div class="card_add_ads rounded-0 border-0">
  <div class="card-header-pills fs-5 py-3 "></div>
  <form action="/submit" method="post" enctype="multipart/form-data">
    <div class="d-flex gap-2 ">
      <p-panel header="Pieces d'identités" [toggleable]="true" class="col-md-6">
        <fieldset>
          <legend></legend>
          <label for="identityDoc">Choisissez un fichier PDF :</label><br>
          <input class="form-control" type="file" name="identityDoc" accept="application/pdf" id="identityDoc" multiple (change)="onFileSelected($event,'identityDoc')" required>
        </fieldset>
        <div *ngIf="identityDocs.length > 0 " class="mt-2">
          <ul class="no-indent">
            <li *ngFor="let file of identityDocs; let i = index">
              <span class="fw-bolder">{{file.name}}</span>
              <button type="button" class="btn btn-link btn-sm text-danger" (click)="removeFile(i, 'otherDocument')">Supprimer</button>
            </li>
          </ul>
        </div>
      </p-panel>
      <p-panel header="Dossier de diagnostic technique (DDT)"  [toggleable]="true" class="col-md-6">
        <fieldset>
          <legend></legend>
          <label for="technicalDiagnostic">Choisissez un fichier PDF :</label><br>
          <input class="form-control" type="file" name="file" accept="application/pdf" id="technicalDiagnostic" multiple (change)="onFileSelected($event,'technicalDiagnostic')" required>
        </fieldset>
        <div *ngIf="technicalDiagnostic.length > 0 " class="mt-2">
          <ul class="no-indent">
            <li *ngFor="let file of technicalDiagnostic; let i = index">
              <span class="fw-bolder">{{file.name}}</span>
              <button type="button" class="btn btn-link btn-sm text-danger" (click)="removeFile(i, 'technicalDiagnostic')">Supprimer</button>

            </li>
          </ul>
        </div>
      </p-panel>
    </div>
    <div class="d-flex gap-2 my-3 ">
      <p-panel header="Titre de propriété" [toggleable]="true" class="col-md-6">
        <fieldset>
          <legend></legend>
          <label for="propertyTitle">Choisissez un fichier PDF :</label><br>
          <input class="form-control" type="file" name="file" accept="application/pdf" id="propertyTitle" multiple (change)="onFileSelected($event,'propertyTitle')" required>
        </fieldset>
        <div *ngIf="propertyTitle.length > 0 " class="mt-2">
          <ul class="no-indent">
            <li *ngFor="let file of propertyTitle; let i  = index">
              <span class="fw-bolder">{{file.name}}</span>
              <button type="button" class="btn btn-link btn-sm text-danger" (click)="removeFile(i, 'propertyTitle')">Supprimer</button>

            </li>
          </ul>
        </div>

      </p-panel>
      <p-panel header="Autres documents" [toggleable]="true" class="col-md-6">
        <fieldset>
          <legend></legend>
          <label for="otherDocument">Choisissez un fichier PDF :</label><br>
          <input class="form-control" type="file" name="file" accept="application/pdf" id="otherDocument" multiple (change)="onFileSelected($event,'otherDocument')" required>
        </fieldset>
        <div *ngIf="otherDocument.length > 0 " class="mt-2">
          <ul class="no-indent" >
            <li *ngFor="let file of otherDocument; let i = index">
              <span class="fw-bolder">{{file.name}}</span>
              <button type="button" class="btn btn-link btn-sm text-danger" (click)="removeFile(i, 'otherDocument')">Supprimer</button>
            </li>

          </ul>
        </div>
      </p-panel>
    </div>

    <div class="d-flex py-4 gap-5">
      <button type="submit" class="btn btn-primary mx-2" (click)="onBack()">Retour</button>
      <button type="submit" class="btn btn-primary mx-2" (click)="onNext()">Suivant</button>
    </div>
  </form>
</div>
