


<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>ParisJanitor BackOffice</h3>
    </div>

    <ul class="list-unstyled components">
      <a href="/dashboard"> <p>Tableau de bord</p></a>
      <li>
        <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utilisateurs</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="/user-list">Liste</a>
          </li>
          <li>
            <a href="/booking">Réservation</a>
          </li>
        </ul>
      </li>
      <!---->
      <li>
        <a href="#propertySubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Immobiliers</a>
        <ul class="collapse list-unstyled" id="propertySubmenu" >
          <li>
            <a href="/property-adding">Nouveau</a>
          </li>
          <li>
            <a href="/property-list">Liste</a>
          </li>
          <li>
            <a href="#">Demande de maintenance</a>
          </li>
          <li>
            <a href="#">Suivi de travaux</a>
          </li>
          <li>
            <a href="#">Maintenance et réparations</a>
          </li>
        </ul>
      </li>

      <!---->
      <li>
        <a href="#docSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documents</a>
        <ul class="collapse list-unstyled" id="docSubmenu" >

          <li>
            <a href="#">Justificatifs</a>
          </li>
          <li>
            <a href="#">Contrats</a>
          </li>
          <li>
            <a href="#">Factures</a>
          </li>
        </ul>
      </li>
      <!---->
      <li>
        <a href="#billSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reporting et finances</a>
        <ul class="collapse list-unstyled" id="billSubmenu" >
          <li>
            <a href="#">Rapports financiers</a>
          </li>
          <li>
            <a href="#">Etat des finances</a>
          </li>
          <li>
            <a href="#">Calcul des rendements</a>
          </li>
        </ul>
      </li>
      <!---->
      <li>
        <a href="#servicesSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Services</a>
        <ul class="collapse list-unstyled" id="servicesSubmenu" >
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>

      <!---->
      <li>
        <a href="#paramSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Parametres</a>
        <ul class="collapse list-unstyled" id="paramSubmenu">
          <li>
            <a href="#">Profil</a>
          </li>
          <li>
            <a href="#">Preference</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>


      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>

</div>
