
<!--<nav class="col-12 col-xs-3 col-md-3 col-xl-2 px-0 bg-dark text-white sidebar">-->
  <div class="d-flex flex-column p-3 vh-100 menu-wrapper" >
    <h4 class="text-center mb-4">Paris Janitor BackOffice</h4>
    <ul class="list-unstyled components flex-column">
      <li class="nav-item  mb-3">
        <a class="nav-link" href="/dashboard">
          <i class="bi bi-speedometer2 me-2"></i>Tableau de bord</a>
      </li>

      <li class="nav-item mb-3">
        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#pageSubmenu"  role="button" aria-expanded="false" >
          <i class="bi bi-people me-2"></i>Utilisateurs</a>
        <ul class="collapse ps-3 list-unstyled" id="pageSubmenu">
          <li><a class="nav-link ms-2" href="/users">Liste</a></li>
          <li><a class="nav-link ms-2" href="/booking">Réservation</a></li>
        </ul>
      </li>
      <!---->
      <li class="nav-item  mb-3">
        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse"  href="#propertySubmenu" role="button" aria-expanded="false" >
          <i class="bi bi-house me-2"></i>Immobiliers</a>
        <ul class="collapse ps-3 list-unstyled" id="propertySubmenu" >
          <li><a class="nav-link ms-2"  href="/property-adding">Nouveau</a></li>
          <li><a class="nav-link ms-2"  href="/properties">Liste</a></li>
          <li><a class="nav-link ms-2"  href="#">Demande de maintenance</a></li>
          <li><a class="nav-link ms-2"  href="#">Suivi de travaux</a></li>
          <li><a class="nav-link ms-2"  href="#">Maintenance et réparations</a></li>
        </ul>
      </li>

      <!---->
      <li class="nav-item  mb-3">
        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#docSubmenu"  role="button" aria-expanded="false" >
          <i class="bi bi-file me-2"></i>Documents</a>
        <ul class="collapse ps-3 list-unstyled" id="docSubmenu" >
          <li><a class="nav-link ms-2"  href="#">Justificatifs</a></li>
          <li><a class="nav-link ms-2"  href="#">Contrats</a></li>
          <li><a class="nav-link ms-2"  href="#">Factures</a></li>
        </ul>
      </li>
      <!---->
      <li class="nav-item  mb-3">
        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#billSubmenu" role="button" aria-expanded="false" >
          <i class="bi bi-receipt me-2"></i>Reporting et finances</a>
        <ul class="collapse ps-3 list-unstyled" id="billSubmenu" >
          <li><a class="nav-link ms-2"  href="#">Rapports financiers</a></li>
          <li><a class="nav-link ms-2"  href="#">Etat des finances</a></li>
          <li><a class="nav-link ms-2"  href="#">Calcul des rendements</a></li>
        </ul>
      </li>
      <!---->
      <li class="nav-item  mb-3">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse"  href="#servicesSubmenu"  role="button" aria-expanded="false" >
          <i class="bi bi-tools me-2"></i>Services</a>
        <ul class="collapse ps-3 list-unstyled" id="servicesSubmenu" >
          <li><a class="nav-link ms-2"   href="#">Réservation</a></li>
        </ul>
      </li>

      <!---->
      <li class="nav-item  mb-3">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#paramSubmenu" role="button" aria-expanded="false" >
          <i class="bi bi-gear me-2"></i>Parametres</a>
        <ul class="collapse ps-3 list-unstyled" id="paramSubmenu">
          <li><a class="nav-link ms-2"   href="#">Profil</a></li>
          <li><a class="nav-link ms-2"  href="#">Preference</a></li>
          <li><a class="nav-link ms-2"  href="#">Tarification</a></li>
        </ul>
      </li>

      <li class="nav-item  mb-3">
        <a  class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#profileSubmenu"  aria-expanded="false" >
          <i class="bi bi-person me-2"></i>Profil</a>
        <ul class="collapse ps-3 list-unstyled" id="profileSubmenu">
          <li><a class="nav-link ms-2"   href="/profile">Mes infos</a></li>
          <li><a class="nav-link ms-2"   href="/status-change">Changer de status</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
    <hr>
  </div>
<!--</nav>-->
