


<div>
  <form [formGroup]="myForm">

  <div>
    <label for="firstname">Firstname:</label>
    <input type="text" id="firstname" formControlName="firstname">
  </div>
  <div>
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" formControlName="lastname">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <div>
    <button type="button" (click)="onSubmit()">Submit</button>
  </div>

  </form>
</div>
<div class="d-flex ">
  <div class=""><a class="link text-decoration-none" href="/forgot-password">Mot de passe oublié</a></div>
  <div class="mx-3"><a class="link text-decoration-none" href="/login">Se connecter</a></div>
</div>
