<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aside Menu Layout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>

  </style>
</head>
<body>


<div class="container-fluid">
  <div class="row flex-nowrap ">
    <!-- SideMenu -->
    <nav class="col-12 col-xs-3 col-md-3 col-xl-2 px-0  bg-dark text-white sidebar">
      <app-aside-menu></app-aside-menu>
    </nav>


    <main class="col-12 col-md-9 col-xl-10 ">
      <!--TopBar-->
      <nav class="navbar navbar-light bg-light px-3 justify-content-end shadow-sm">
        <app-navbar-top></app-navbar-top>
      </nav>
      <div class="container-fluid">
        <div class="card border-0">
          <div class="card-body">
            <h2 class="title-page">Ajouter une nouvelle annonce</h2>
          </div>
        </div>
      </div>

      <!-- Content -->
      <div class="container-fluid">
        <div class="card border-0">
          <div class="card-body">
            <div class="py-4">
              <p-toast></p-toast>
              <p-steps
                [model]="items"
                [readonly]="false"
                [activeIndex]="activeIndex"
                (activeIndexChange)="onActiveIndexChange($event)">
              </p-steps>
            </div>
            <ng-container [ngSwitch]="activeIndex">
              <app-characteristics
                *ngSwitchCase="0"
                (formDataUpdated)="updateFormData('information', $event)"
                (next)="nextStep()"/>
              <app-upload-image
                *ngSwitchCase="1"
                (formDataUpdated)="updateFormData('pictures',$event)"
                (next)="nextStep()"
                (back)="prevStep()"/>
              <app-upload-receipt
                *ngSwitchCase="2"
                (formDataUpdated)="updateFormData('documents',$event)"
                (next)="nextStep()"
                (back)="prevStep()"/>

              <app-validation-step
                *ngSwitchCase="3"
                (formDataUpdated)="updateFormData('',$event)"
                (next)="nextStep()"
                (back)="prevStep()"
              />

            </ng-container>

          </div>
        </div>

      </div>
    </main>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!--
<div class="d-flex wrapper">
  <div class="bg-light" style="width:290px; min-height: 100vh;">
  </div>
  <div id="content">
    <div class="py-4">
      <p-toast></p-toast>
      <p-steps
        [model]="items"
        [readonly]="false"
        [activeIndex]="activeIndex"
        (activeIndexChange)="onActiveIndexChange($event)">
      </p-steps>
    </div>


    <ng-container [ngSwitch]="activeIndex">
      <app-characteristics
        *ngSwitchCase="0"
        (formDataUpdated)="updateFormData('information', $event)"
        (next)="nextStep()"/>
      <app-upload-image
        *ngSwitchCase="1"
        (formDataUpdated) = "updateFormData('pictures',$event)"
        (next) = "nextStep()"
        (back) = "prevStep()"/>
      <app-upload-receipt
        *ngSwitchCase="2"
        (formDataUpdated) = "updateFormData('documents',$event)"
        (next) = "nextStep()"
        (back) = "prevStep()"/>
    </ng-container>

  </div>
</div>
-->
