
::ng-deep full-calendar {
  height: 500px;
  width: 100%;
}


::ng-deep .normal-button .p-button {
  font-size: 1rem;
  padding: 0.60rem 1.5rem;
}

:host ::ng-deep .p-galleria-item-wrapper {
  height: 233px !important;
}

:host ::ng-deep .p-galleria-thumbnail-item {
  height: 80px !important;
}

.icon-large{
  font-size: 40px !important;
}
