
<div class="d-flex justify-content-center custom-margin  vh-100">
  <div class="d-flex flex-column">


    <div class="card border-0">
      <div class="card-body">
        <h3 class="card-title">Mot de passe oublié</h3>

        <form [formGroup]="myForm">
          <div class="form-group form-floating">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="parisjanitor@example.fr">
            <label for="email">Adresse email</label>
          </div>

          <div class=" action-buttons form-group mt-2">
            <button class="btn btn-primary" type="button" (click)="onSubmit()">Envoyer</button>
          </div>

        </form>
      </div>
    </div>

    <div class="d-flex ">
      <div class="mx-3"><a class="link text-decoration-none" href="/login">Se connecter</a></div>
      <div class="mx-3"><a class="link text-decoration-none" href="/signup">Ouvrir un compte</a></div>
    </div>

  </div>
</div>


