

<!--
<app-loading *ngIf="authService.isLoading"></app-loading>
<div *ngIf="!authService.isLoading" class="d-flex">-->

<div class="d-flex">
  <div>
    <app-aside-menu></app-aside-menu>
  </div>
  <div id="content">
    <app-navbar></app-navbar>
    <div class="row mb-1">
      <div class="">
        <div class="card rounded-0 border-0">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Formulaire de recherche </h5>
          </div>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
            <div class="d-flex gap-4">
              <div class="form-group ">
                <div>
                  <label for="status"  class="form-label">Status</label>
                </div>

                <p-multiSelect
                  id="status"
                  [options]="status"
                  [(ngModel)]= userService.searchUserDto.status
                  [ngModelOptions]="{standalone: true}"
                  defaultLabel="Selectionner le status "
                  optionLabel="name"
                  display="chip"
                  styleClass="custom-size-multiselect"/>
                </div>

              <div class="form-group">
                <div>
                  <label for="service"  class="form-label">Service</label>
                </div>
                <p-multiSelect
                  id="service"
                  [options]="services"
                  [(ngModel)]= userService.searchUserDto.service
                  [ngModelOptions]="{standalone: true}"
                  placeholder="Selectionner le service"
                  optionLabel="name"
                  display="chip"
                  styleClass="custom-size-multiselect"/>
              </div>

              <div class="form-group col">
                <div>
                  <label for="firstname"  class="form-label">Nom et Prénom(s) </label>
                </div>
                <div>
                  <p-autoComplete id="firstname"
                                  [(ngModel)]="userService.searchUserDto.firstname"
                                  [suggestions]="filteredUser"
                                  (completeMethod)="searchUsername($event)"
                                  field="fullName"
                                  [ngModelOptions]="{standalone: true}"/>
                </div>
              </div>
            </div>

            <div class=" d-flex form-group gap-4 my-3">

              <div class="form-group">
                <div>
                  <label for="department"  class="form-label">Département</label>
                </div>
                <p-autoComplete
                  id="department"
                  [(ngModel)]=userService.searchUserDto.department
                  [suggestions]="filteredDepartment"
                  (completeMethod)="searchDepartment($event)"
                  field="fullname"
                  [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group">
                <div>
                  <label for="city"  class="form-label">Ville</label>
                </div>
                <p-autoComplete
                  id="city"
                  [(ngModel)]=userService.searchUserDto.city
                  [suggestions]="filteredCity"
                  (completeMethod)="searchCity($event)"
                  field="fullname"
                  [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group">
                <div>
                  <label for="arrival" class="form-label">Date d'arrivee</label>
                </div>
                <p-calendar
                  class="p-calendar"
                  formControlName=from
                  id="arrival"
                  dateFormat="dd.mm.yy"
                  [showIcon]="true"/>
              </div>

              <div class="form-group">
                <div>
                  <label for="departure" class="form-label">Date de départ</label>
                </div>
                <p-calendar
                  class="p-calendar"
                  formControlName="to"
                  id="departure"
                  dateFormat="dd.mm.yy"
                  [showIcon]="true"
                />
              </div>
            </div>
            <div class="form-group">
              <div class=" action-buttons form-group mt-2">
                <button class="btn btn-primary " type="button" (click)="onSubmit()">Rechercher</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="py-5" style="width: 100%">

      <p-table
        #dt
        [value]="users_"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['code','name','price','category','rating','status','quantity','']"
        [tableStyle]="{'width':'100%'}"
        [(selection)]="selectedUsers"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Afficher {first} à {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"

        [scrollable]="true"
        scrollHeight="flex"
        responsiveLayout="scroll"
        scrollDirection="horizontal"
        styleClass="w-full">

        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Gestion des Utilisateurs</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox/>
            </th>
            <th pSortableColumn="code" style="min-width: 20%">
              Code<p-sortIcon field="code"></p-sortIcon>
            </th>
            <th pSortableColumn="name" style="min-width: 20%">
              Name<p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="price"  style="min-width:20%">
              Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="category"  style="min-width: 20%">
              Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="rating"  style="min-width: 20%">
              Rating <p-sortIcon field="rating"></p-sortIcon>
              <!--rating status-->
            </th>
            <th pSortableColumn="status"  style="min-width: 20%">
              Status<p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity" style="min-width: 20%">
              Quantity<p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users_>
          <tr>
            <td>
              <p-tableCheckbox value="user"></p-tableCheckbox>
            </td>
            <td>{{ users_.code }}</td>
            <td>{{ users_.name }}</td>
            <td>{{ users_.price }}</td>
            <td>{{ users_.category }}</td>
            <td>{{ users_.rating }}</td>
            <td>
              <p-tag
                [value]="users_.inventoryStatus"
              />
            </td>
            <td>{{ users_.quantity }}</td>
            <td class="">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success " (click)="editUserProfile(users_)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUserProfile(users_)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-center "> <!-- -->
            Au total, il y a 2 utilisateurs.
          </div>
        </ng-template>
      </p-table>

      <p-dialog
      [(visible)]="userDialog"
      [style]="{ width:'40%',height:'80%', }"
      header="Modifier les infos utilisateurs"
      [modal]="true"
      styleClass="p-fluid">
        <ng-template pTemplate="content">
          <div class=" border-0"> <!--card-->
            <div class=""> <!--card-body-->
              <h3 class="card-title"></h3>
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="d-flex gap-3">
                  <div class="form-group">
                    <label for="firstname">Prénom(s)</label>
                    <input type="text" class="form-control" id=firstname formControlName="firstname" placeholder="Jean"/>
                  </div>
                  <div class="form-group">
                    <label for="lastname">Nom</label>
                    <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Jaures"/>
                  </div>
                </div>
                <div class="d-flex gap-3">
                  <div class="form-group">
                    <label for="address">Adresse</label>
                    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Adresse"/>
                  </div>

                  <!--<div class="form-group">
                    <label for="city">Ville</label>
                    <input type="text" class="form-control" id="city" formControlName="city" placeholder="Ville"/>
                  </div>-->
                </div>
                <div class="d-flex"></div>
                <!-- <div class="d-flex">
               <div class="form-group">
                 <div class="form-group">
                   <label for="city">Ville</label>
                   <input type="text" class="form-control" id="city" formControlName="city" placeholder="Ville"/>
                 </div>
         <div class="form-group">
             <div><label>Espaces extérieurs </label></div>
             <p-inputSwitch
               [(ngModel)]="checked"
               [ngModelOptions]="{standalone: true}"
             ></p-inputSwitch>
           </div>
               </div>

             </div>-->

              </form>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button
           label="Annuler"
            icon="pi pi-times"
            styleClass="p-button-link"
            (onClick)="hideDialog()">
          </p-button>

          <p-button
            label="Enregistrer"
            icon="pi pi-check"
            styleClass="p-button-link"
            (onClick)="saveData()">
          </p-button>
          <!--<button pButton type="button" class="p-button-text" (click)="saveData()">Sauvegarder</button>-->
        </ng-template>

      </p-dialog>
    </div>
  </div>
</div>

