/* You can add global styles to this file, and also import other style files */

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.custom-margin {
  margin-top: 15%;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.msg-error{
  color:red;
  font-size:80%;
}

/*p-calendar*/
.p-calendar {
  height: 38px !important;  /* Hauteur uniforme */
  display: flex;
}
label {
  font-size: 14px;
  font-weight: bolder;
  padding: 0 0.5rem;
  width: 100%;
}



