/* You can add global styles to this file, and also import other style files */

.custom-margin {
  margin-top: 15%;
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}


.msg-error{
  color:red;
  font-size:80%;
}


/*p-calendar*/

.p-calendar {
  height: 38px !important;  /* Hauteur uniforme */
  display: flex;
}



